version: "3.13.2"
services:
  ganache:
    image: trufflesuite/ganache-cli:latest
    ports:
      - "8545:8545"
    command: 
      - "--networkId"
      - "5777"
      - "--chainId"
      - "1337"
      - "--accounts"
      - "10"
      - "--defaultBalanceEther"
      - "1000"
      - "--host"
      - "0.0.0.0"
      - "--mnemonic"
      - "test test test test test test test test test test test junk"
      - "--gasLimit"
      - "8000000"
    healthcheck:
      test: ["CMD-SHELL", "curl -X POST --silent --fail -H 'Content-Type: application/json' --data '{\"jsonrpc\":\"2.0\",\"method\":\"net_version\",\"params\":[],\"id\":1}' http://localhost:8545 || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  truffle:
    image: node:18
    working_dir: /app
    volumes:
      - ./on_chain:/app
    depends_on:
      - ganache
    command: sh -c "npm install && npx truffle migrate --network docker"

  counter_app:
    build: 
      context: ./on_chain
      dockerfile: Dockerfile
    volumes:
      - ./on_chain/build:/app/build
    depends_on:
      - ganache
      - truffle
    environment:
      - GANACHE_HOST=ganache
